<div class="row">

	<div class="col-sm-4">
		<div class="ficha">
			<a href="https://alamo.com.do/en/reservaciones/">
				<h4>Standard SUV Hybrid</h4>
				Suzuki Vitara or similar

				<div class="cambio">
					<img src="https://alamo.com.do/wp-content/themes/alamo/images/cambio.png">
					Automatic
				</div>

				<div class="postthumbnail">
					<img width="1920" height="1080" src="https://alamo.com.do/wp-content/uploads/2024/07/Copia-de-Presentacion-Para-Empresa-Corporativo-Verde-y-Blanco-17.png" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" decoding="async" loading="lazy" srcset="https://alamo.com.do/wp-content/uploads/2024/07/Copia-de-Presentacion-Para-Empresa-Corporativo-Verde-y-Blanco-17.png 1920w, https://alamo.com.do/wp-content/uploads/2024/07/Copia-de-Presentacion-Para-Empresa-Corporativo-Verde-y-Blanco-17-768x432.png 768w, https://alamo.com.do/wp-content/uploads/2024/07/Copia-de-Presentacion-Para-Empresa-Corporativo-Verde-y-Blanco-17-1536x864.png 1536w" sizes="(max-width: 1920px) 100vw, 1920px">
				</div>
				<div class="clear"></div>

				<div class="row">
					<div class="col-xs-12" style="font-size: 12px;">
						<img src="https://alamo.com.do/wp-content/themes/alamo/images/pasajeros.png">5 Pax.
					</div>
					<div class="col-xs-12" style="font-size: 12px;">
						<img src="https://alamo.com.do/wp-content/themes/alamo/images/maletas.png">2 medium
					</div>
				</div>

				<span class="booknow">Reserve Now</span>
			</a>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="ficha">
			<a href="https://alamo.com.do/en/reservaciones/">
				<h4>Special SUV</h4>
				Suzuki Jimny GLX 5-Door or similar

				<div class="cambio">
					<img src="https://alamo.com.do/wp-content/themes/alamo/images/cambio.png">
					Automatic
				</div>

				<div class="postthumbnail">
					<img width="1920" height="1080" src="https://alamo.com.do/wp-content/uploads/2024/07/50-OFERTA-ANIMACION-1.png" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" decoding="async" loading="lazy" srcset="https://alamo.com.do/wp-content/uploads/2024/07/50-OFERTA-ANIMACION-1.png 1920w, https://alamo.com.do/wp-content/uploads/2024/07/50-OFERTA-ANIMACION-1-768x432.png 768w, https://alamo.com.do/wp-content/uploads/2024/07/50-OFERTA-ANIMACION-1-1536x864.png 1536w" sizes="(max-width: 1920px) 100vw, 1920px">
				</div>
				<div class="clear"></div>

				<div class="row">
					<div class="col-xs-12" style="font-size: 12px;">
						<img src="https://alamo.com.do/wp-content/themes/alamo/images/pasajeros.png">4 Pax.
					</div>
					<div class="col-xs-12" style="font-size: 12px;">
						<img src="https://alamo.com.do/wp-content/themes/alamo/images/maletas.png">2 medium
					</div>
				</div>

				<span class="booknow">Reserve Now</span>
			</a>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="ficha">
			<a href="https://alamo.com.do/en/reservaciones/">
				<h4>Midsize SUV</h4>
				(Español) Suzuki S-Cross or similar

				<div class="cambio">
					<img src="https://alamo.com.do/wp-content/themes/alamo/images/cambio.png">
					Automatic
				</div>

				<div class="postthumbnail">
					<img width="1920" height="1080" src="https://alamo.com.do/wp-content/uploads/2025/02/LOOP-ASONAHORES-1.png" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" decoding="async" loading="lazy" srcset="https://alamo.com.do/wp-content/uploads/2025/02/LOOP-ASONAHORES-1.png 1920w, https://alamo.com.do/wp-content/uploads/2025/02/LOOP-ASONAHORES-1-768x432.png 768w, https://alamo.com.do/wp-content/uploads/2025/02/LOOP-ASONAHORES-1-1536x864.png 1536w" sizes="(max-width: 1920px) 100vw, 1920px">
				</div>
				<div class="clear"></div>

				<div class="row">
					<div class="col-xs-12" style="font-size: 12px;">
						<img src="https://alamo.com.do/wp-content/themes/alamo/images/pasajeros.png">5 Pax.
					</div>
					<div class="col-xs-12" style="font-size: 12px;">
						<img src="https://alamo.com.do/wp-content/themes/alamo/images/maletas.png">1 large 2 medium
					</div>
				</div>

				<span class="booknow">Reserve Now</span>
			</a>
		</div>
	</div>
	<div class="clear"></div>	                	                							<div class="col-sm-4">
		<div class="ficha">
			<a href="https://alamo.com.do/en/reservaciones/">
				<h4>Economy Car</h4>
				Chevrolet Spark or similar

				<div class="cambio">
					<img src="https://alamo.com.do/wp-content/themes/alamo/images/cambio.png">
					Automatic
				</div>

				<div class="postthumbnail">
					<img width="500" height="350" src="https://alamo.com.do/wp-content/uploads/2019/05/Chevrolet-Spark.png" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" decoding="async" loading="lazy">
				</div>
				<div class="clear"></div>

				<div class="row">
					<div class="col-xs-12" style="font-size: 12px;">
						<img src="https://alamo.com.do/wp-content/themes/alamo/images/pasajeros.png">5 Pax.
					</div>
					<div class="col-xs-12" style="font-size: 12px;">
						<img src="https://alamo.com.do/wp-content/themes/alamo/images/maletas.png">2 small
					</div>
				</div>

				<span class="booknow">Reserve Now</span>
			</a>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="ficha">
			<a href="https://alamo.com.do/en/reservaciones/">
				<h4>Compact Car</h4>
				Suzuki Swift or similar

				<div class="cambio">
					<img src="https://alamo.com.do/wp-content/themes/alamo/images/cambio.png">
					Automatic
				</div>

				<div class="postthumbnail">
					<img width="500" height="350" src="https://alamo.com.do/wp-content/uploads/2019/05/Suzuki-Swift.png" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" decoding="async" loading="lazy">
				</div>
				<div class="clear"></div>

				<div class="row">
					<div class="col-xs-12" style="font-size: 12px;">
						<img src="https://alamo.com.do/wp-content/themes/alamo/images/pasajeros.png">5 Pax.
					</div>
					<div class="col-xs-12" style="font-size: 12px;">
						<img src="https://alamo.com.do/wp-content/themes/alamo/images/maletas.png">1 large and 1 medium
					</div>
				</div>

				<span class="booknow">Reserve Now</span>
			</a>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="ficha">
			<a href="https://alamo.com.do/en/reservaciones/">
				<h4>Midsize Car </h4>
				Nissan Versa or similar

				<div class="cambio">
					<img src="https://alamo.com.do/wp-content/themes/alamo/images/cambio.png">
					Automatic
				</div>

				<div class="postthumbnail">
					<img width="500" height="350" src="https://alamo.com.do/wp-content/uploads/2019/05/Nissan-Versa.png" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" decoding="async" loading="lazy">
				</div>
				<div class="clear"></div>

				<div class="row">
					<div class="col-xs-12" style="font-size: 12px;">
						<img src="https://alamo.com.do/wp-content/themes/alamo/images/pasajeros.png">5 Pax.
					</div>
					<div class="col-xs-12" style="font-size: 12px;">
						<img src="https://alamo.com.do/wp-content/themes/alamo/images/maletas.png">2 medium and 1 small
					</div>
				</div>

				<span class="booknow">Reserve Now</span>
			</a>
		</div>
	</div>
	<div class="clear"></div>	                	                							<div class="col-sm-4">
		<div class="ficha">
			<a href="https://alamo.com.do/en/reservaciones/">
				<h4>Compact SUV</h4>
				Nissan Kicks or similar

				<div class="cambio">
					<img src="https://alamo.com.do/wp-content/themes/alamo/images/cambio.png">
					Automatic
				</div>

				<div class="postthumbnail">
					<img width="1200" height="720" src="https://alamo.com.do/wp-content/uploads/2019/05/KIcks_EXCLUSIVE_PackTech_MY22_Frente_Motorista_VermelhoTetoPreto_1200x720.png" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" decoding="async" loading="lazy" srcset="https://alamo.com.do/wp-content/uploads/2019/05/KIcks_EXCLUSIVE_PackTech_MY22_Frente_Motorista_VermelhoTetoPreto_1200x720.png 1200w, https://alamo.com.do/wp-content/uploads/2019/05/KIcks_EXCLUSIVE_PackTech_MY22_Frente_Motorista_VermelhoTetoPreto_1200x720-768x461.png 768w" sizes="(max-width: 1200px) 100vw, 1200px">
				</div>
				<div class="clear"></div>

				<div class="row">
					<div class="col-xs-12" style="font-size: 12px;">
						<img src="https://alamo.com.do/wp-content/themes/alamo/images/pasajeros.png">5 Pax.
					</div>
					<div class="col-xs-12" style="font-size: 12px;">
						<img src="https://alamo.com.do/wp-content/themes/alamo/images/maletas.png">1 large and 2 small
					</div>
				</div>

				<span class="booknow">Reserve Now</span>
			</a>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="ficha">
			<a href="https://alamo.com.do/en/reservaciones/">
				<h4>Compact Special SUV</h4>
				Suzuki Jimny or similar

				<div class="cambio">
					<img src="https://alamo.com.do/wp-content/themes/alamo/images/cambio.png">
					Automatic
				</div>

				<div class="postthumbnail">
					<img width="500" height="350" src="https://alamo.com.do/wp-content/uploads/2021/02/Suzuki-Jimny.png" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" decoding="async" loading="lazy">
				</div>
				<div class="clear"></div>

				<div class="row">
					<div class="col-xs-12" style="font-size: 12px;">
						<img src="https://alamo.com.do/wp-content/themes/alamo/images/pasajeros.png">4 Pax.
					</div>
					<div class="col-xs-12" style="font-size: 12px;">
						<img src="https://alamo.com.do/wp-content/themes/alamo/images/maletas.png">2 medium
					</div>
				</div>

				<span class="booknow">Reserve Now</span>
			</a>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="ficha">
			<a href="https://alamo.com.do/en/reservaciones/">
				<h4>Standard SUV</h4>
				Nissan Qashqai or similar

				<div class="cambio">
					<img src="https://alamo.com.do/wp-content/themes/alamo/images/cambio.png">
					Automatic
				</div>

				<div class="postthumbnail">
					<img width="1920" height="1080" src="https://alamo.com.do/wp-content/uploads/2019/05/Copia-de-Presentacion-Para-Empresa-Corporativo-Verde-y-Blanco-2.png" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" decoding="async" loading="lazy" srcset="https://alamo.com.do/wp-content/uploads/2019/05/Copia-de-Presentacion-Para-Empresa-Corporativo-Verde-y-Blanco-2.png 1920w, https://alamo.com.do/wp-content/uploads/2019/05/Copia-de-Presentacion-Para-Empresa-Corporativo-Verde-y-Blanco-2-768x432.png 768w, https://alamo.com.do/wp-content/uploads/2019/05/Copia-de-Presentacion-Para-Empresa-Corporativo-Verde-y-Blanco-2-1536x864.png 1536w" sizes="(max-width: 1920px) 100vw, 1920px">
				</div>
				<div class="clear"></div>

				<div class="row">
					<div class="col-xs-12" style="font-size: 12px;">
						<img src="https://alamo.com.do/wp-content/themes/alamo/images/pasajeros.png">5 Pax.
					</div>
					<div class="col-xs-12" style="font-size: 12px;">
						<img src="https://alamo.com.do/wp-content/themes/alamo/images/maletas.png">2 large
					</div>
				</div>

				<span class="booknow">Reserve Now</span>
			</a>
		</div>
	</div>
	<div class="clear"></div>	                	                							<div class="col-sm-4">
		<div class="ficha">
			<a href="https://alamo.com.do/en/reservaciones/">
				<h4>Midsize SUV</h4>
				Suzuki S-Cross or similar

				<div class="cambio">
					<img src="https://alamo.com.do/wp-content/themes/alamo/images/cambio.png">
					Automatic
				</div>

				<div class="postthumbnail">
					<img width="500" height="350" src="https://alamo.com.do/wp-content/uploads/2023/01/scross.png" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" decoding="async" loading="lazy">
				</div>
				<div class="clear"></div>

				<div class="row">
					<div class="col-xs-12" style="font-size: 12px;">
						<img src="https://alamo.com.do/wp-content/themes/alamo/images/pasajeros.png">5 Pax.
					</div>
					<div class="col-xs-12" style="font-size: 12px;">
						<img src="https://alamo.com.do/wp-content/themes/alamo/images/maletas.png">1 large and 2 medium
					</div>
				</div>

				<span class="booknow">Reserve Now</span>
			</a>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="ficha">
			<a href="https://alamo.com.do/en/reservaciones/">
				<h4>Full Size SUV</h4>
				Nissan X-Trail or similar

				<div class="cambio">
					<img src="https://alamo.com.do/wp-content/themes/alamo/images/cambio.png">
					Automatic
				</div>

				<div class="postthumbnail">
					<img width="2560" height="1440" src="https://alamo.com.do/wp-content/uploads/2019/05/22CHAC_Global_Exterior_Directed_Front_Quarter_Still-scaled.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" decoding="async" loading="lazy" srcset="https://alamo.com.do/wp-content/uploads/2019/05/22CHAC_Global_Exterior_Directed_Front_Quarter_Still-scaled.jpg 2560w, https://alamo.com.do/wp-content/uploads/2019/05/22CHAC_Global_Exterior_Directed_Front_Quarter_Still-768x432.jpg 768w, https://alamo.com.do/wp-content/uploads/2019/05/22CHAC_Global_Exterior_Directed_Front_Quarter_Still-1536x864.jpg 1536w, https://alamo.com.do/wp-content/uploads/2019/05/22CHAC_Global_Exterior_Directed_Front_Quarter_Still-2048x1152.jpg 2048w" sizes="(max-width: 2560px) 100vw, 2560px">
				</div>
				<div class="clear"></div>

				<div class="row">
					<div class="col-xs-12" style="font-size: 12px;">
						<img src="https://alamo.com.do/wp-content/themes/alamo/images/pasajeros.png">5 Pax.
					</div>
					<div class="col-xs-12" style="font-size: 12px;">
						<img src="https://alamo.com.do/wp-content/themes/alamo/images/maletas.png">3 large
					</div>
				</div>

				<span class="booknow">Reserve Now</span>
			</a>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="ficha">
			<a href="https://alamo.com.do/en/reservaciones/">
				<h4>Fullsize SUV with Electric Propulsion</h4>
				Nissan X-Trail E-Power or similar

				<div class="cambio">
					<img src="https://alamo.com.do/wp-content/themes/alamo/images/cambio.png">
					Automatic
				</div>

				<div class="postthumbnail">
					<img width="1280" height="720" src="https://alamo.com.do/wp-content/uploads/2023/09/nuevo-suv.png" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" decoding="async" loading="lazy" srcset="https://alamo.com.do/wp-content/uploads/2023/09/nuevo-suv.png 1280w, https://alamo.com.do/wp-content/uploads/2023/09/nuevo-suv-768x432.png 768w" sizes="(max-width: 1280px) 100vw, 1280px">
				</div>
				<div class="clear"></div>

				<div class="row">
					<div class="col-xs-12" style="font-size: 12px;">
						<img src="https://alamo.com.do/wp-content/themes/alamo/images/pasajeros.png">5 Pax.
					</div>
					<div class="col-xs-12" style="font-size: 12px;">
						<img src="https://alamo.com.do/wp-content/themes/alamo/images/maletas.png">3 large
					</div>
				</div>

				<span class="booknow">Reserve Now</span>
			</a>
		</div>
	</div>
	<div class="clear"></div>	                	                							<div class="col-sm-4">
		<div class="ficha">
			<a href="https://alamo.com.do/en/reservaciones/">
				<h4>Premium SUV</h4>
				Chevrolet Traverse or similar

				<div class="cambio">
					<img src="https://alamo.com.do/wp-content/themes/alamo/images/cambio.png">
					Automatic
				</div>

				<div class="postthumbnail">
					<img width="500" height="350" src="https://alamo.com.do/wp-content/uploads/2019/05/Chevrolet-Traverse.png" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" decoding="async" loading="lazy">
				</div>
				<div class="clear"></div>

				<div class="row">
					<div class="col-xs-12" style="font-size: 12px;">
						<img src="https://alamo.com.do/wp-content/themes/alamo/images/pasajeros.png">7 Pax.
					</div>
					<div class="col-xs-12" style="font-size: 12px;">
						<img src="https://alamo.com.do/wp-content/themes/alamo/images/maletas.png">3 large
					</div>
				</div>

				<span class="booknow">Reserve Now</span>
			</a>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="ficha">
			<a href="https://alamo.com.do/en/reservaciones/">
				<h4>Premium Elite Crossover</h4>
				Infiniti QX50 or similar

				<div class="cambio">
					<img src="https://alamo.com.do/wp-content/themes/alamo/images/cambio.png">
					Automatic
				</div>

				<div class="postthumbnail">
					<img width="1920" height="1080" src="https://alamo.com.do/wp-content/uploads/2021/02/National-SEPTIEMBRE-2024-2.png" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" decoding="async" loading="lazy" srcset="https://alamo.com.do/wp-content/uploads/2021/02/National-SEPTIEMBRE-2024-2.png 1920w, https://alamo.com.do/wp-content/uploads/2021/02/National-SEPTIEMBRE-2024-2-768x432.png 768w, https://alamo.com.do/wp-content/uploads/2021/02/National-SEPTIEMBRE-2024-2-1536x864.png 1536w" sizes="(max-width: 1920px) 100vw, 1920px">
				</div>
				<div class="clear"></div>

				<div class="row">
					<div class="col-xs-12" style="font-size: 12px;">
						<img src="https://alamo.com.do/wp-content/themes/alamo/images/pasajeros.png">5 Pax.
					</div>
					<div class="col-xs-12" style="font-size: 12px;">
						<img src="https://alamo.com.do/wp-content/themes/alamo/images/maletas.png">2 large and 1 medium
					</div>
				</div>

				<span class="booknow">Reserve Now</span>
			</a>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="ficha">
			<a href="https://alamo.com.do/en/reservaciones/">
				<h4>Luxury SUV</h4>
				Chevrolet Tahoe or similar

				<div class="cambio">
					<img src="https://alamo.com.do/wp-content/themes/alamo/images/cambio.png">
					Automatic
				</div>

				<div class="postthumbnail">
					<img width="1920" height="1080" src="https://alamo.com.do/wp-content/uploads/2019/05/Copia-de-Presentacion-Para-Empresa-Corporativo-Verde-y-Blanco-16.png" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" decoding="async" loading="lazy" srcset="https://alamo.com.do/wp-content/uploads/2019/05/Copia-de-Presentacion-Para-Empresa-Corporativo-Verde-y-Blanco-16.png 1920w, https://alamo.com.do/wp-content/uploads/2019/05/Copia-de-Presentacion-Para-Empresa-Corporativo-Verde-y-Blanco-16-768x432.png 768w, https://alamo.com.do/wp-content/uploads/2019/05/Copia-de-Presentacion-Para-Empresa-Corporativo-Verde-y-Blanco-16-1536x864.png 1536w" sizes="(max-width: 1920px) 100vw, 1920px">
				</div>
				<div class="clear"></div>

				<div class="row">
					<div class="col-xs-12" style="font-size: 12px;">
						<img src="https://alamo.com.do/wp-content/themes/alamo/images/pasajeros.png">8 Pax.
					</div>
					<div class="col-xs-12" style="font-size: 12px;">
						<img src="https://alamo.com.do/wp-content/themes/alamo/images/maletas.png">3 large
					</div>
				</div>

				<span class="booknow">Reserve Now</span>
			</a>
		</div>
	</div>
	<div class="clear"></div>	                	                							<div class="col-sm-4">
		<div class="ficha">
			<a href="https://alamo.com.do/en/reservaciones/">
				<h4>Luxury Elite SUV</h4>
				Cadillac Escalade or similar

				<div class="cambio">
					<img src="https://alamo.com.do/wp-content/themes/alamo/images/cambio.png">
					Automatic
				</div>

				<div class="postthumbnail">
					<img width="500" height="350" src="https://alamo.com.do/wp-content/uploads/2019/05/cadillac.png" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" decoding="async" loading="lazy">
				</div>
				<div class="clear"></div>

				<div class="row">
					<div class="col-xs-12" style="font-size: 12px;">
						<img src="https://alamo.com.do/wp-content/themes/alamo/images/pasajeros.png">8 Pax.
					</div>
					<div class="col-xs-12" style="font-size: 12px;">
						<img src="https://alamo.com.do/wp-content/themes/alamo/images/maletas.png">4 large
					</div>
				</div>

				<span class="booknow">Reserve Now</span>
			</a>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="ficha">
			<a href="https://alamo.com.do/en/reservaciones/">
				<h4>Midsize Pickup</h4>
				Nissan Frontier Manual or similar

				<div class="cambio">
					<img src="https://alamo.com.do/wp-content/themes/alamo/images/cambio.png">
					Manual
				</div>

				<div class="postthumbnail">
					<img width="500" height="350" src="https://alamo.com.do/wp-content/uploads/2021/03/frontier-manual.png" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" decoding="async" loading="lazy">
				</div>
				<div class="clear"></div>

				<div class="row">
					<div class="col-xs-12" style="font-size: 12px;">
						<img src="https://alamo.com.do/wp-content/themes/alamo/images/pasajeros.png">5 Pax.
					</div>
					<div class="col-xs-12" style="font-size: 12px;">
						<img src="https://alamo.com.do/wp-content/themes/alamo/images/maletas.png">Open Bed
					</div>
				</div>

				<span class="booknow">Reserve Now</span>
			</a>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="ficha">
			<a href="https://alamo.com.do/en/reservaciones/">
				<h4>Premium Pickup</h4>
				Nissan Frontier Auto. or similar

				<div class="cambio">
					<img src="https://alamo.com.do/wp-content/themes/alamo/images/cambio.png">
					Automatic
				</div>

				<div class="postthumbnail">
					<img width="500" height="350" src="https://alamo.com.do/wp-content/uploads/2019/05/frontier-auto.png" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" decoding="async" loading="lazy">
				</div>
				<div class="clear"></div>

				<div class="row">
					<div class="col-xs-12" style="font-size: 12px;">
						<img src="https://alamo.com.do/wp-content/themes/alamo/images/pasajeros.png">5 Pax.
					</div>
					<div class="col-xs-12" style="font-size: 12px;">
						<img src="https://alamo.com.do/wp-content/themes/alamo/images/maletas.png">Open Bed
					</div>
				</div>

				<span class="booknow">Reserve Now</span>
			</a>
		</div>
	</div>
	<div class="clear"></div>	                	                							<div class="col-sm-4">
		<div class="ficha">
			<a href="https://alamo.com.do/en/reservaciones/">
				<h4>Midsize Cargo Van</h4>
				Suzuki APV Panel Van or similar

				<div class="cambio">
					<img src="https://alamo.com.do/wp-content/themes/alamo/images/cambio.png">
					Manual
				</div>

				<div class="postthumbnail">
					<img width="500" height="350" src="https://alamo.com.do/wp-content/uploads/2019/05/Suzuki-APV-1.png" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" decoding="async" loading="lazy">
				</div>
				<div class="clear"></div>

				<div class="row">
					<div class="col-xs-12" style="font-size: 12px;">
						<img src="https://alamo.com.do/wp-content/themes/alamo/images/pasajeros.png">2 Pax.
					</div>
				</div>

				<span class="booknow">Reserve Now</span>
			</a>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="ficha">
			<a href="https://alamo.com.do/en/reservaciones/">
				<h4>Fullsize Passenger Van</h4>
				Nissan Urvan Manual Van or similar

				<div class="cambio">
					<img src="https://alamo.com.do/wp-content/themes/alamo/images/cambio.png">
					Manual
				</div>

				<div class="postthumbnail">
					<img width="500" height="350" src="https://alamo.com.do/wp-content/uploads/2019/05/Nissan-Urvan-Carga-1.png" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" decoding="async" loading="lazy">
				</div>
				<div class="clear"></div>

				<div class="row">
					<div class="col-xs-12" style="font-size: 12px;">
						<img src="https://alamo.com.do/wp-content/themes/alamo/images/pasajeros.png">15 Pax.
					</div>
				</div>

				<span class="booknow">Reserve Now</span>
			</a>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="ficha">
			<a href="https://alamo.com.do/en/reservaciones/">
				<h4>Premium Passenger Van</h4>
				Nissan Urvan Van or similar

				<div class="cambio">
					<img src="https://alamo.com.do/wp-content/themes/alamo/images/cambio.png">
					Automatic
				</div>

				<div class="postthumbnail">
					<img width="500" height="350" src="https://alamo.com.do/wp-content/uploads/2019/05/Nissan-Urvan-Pasajeros.png" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" decoding="async" loading="lazy">
				</div>
				<div class="clear"></div>

				<div class="row">
					<div class="col-xs-12" style="font-size: 12px;">
						<img src="https://alamo.com.do/wp-content/themes/alamo/images/pasajeros.png">15 Pax.
					</div>
				</div>

				<span class="booknow">Reserve Now</span>
			</a>
		</div>
	</div>
	<div class="clear"></div>
</div>